
.menu-links {
    display: flex; /* Usa Flexbox para alinhar os links horizontalmente */
    justify-content: flex-end; /* Alinha os links à direita, se necessário */
    margin-left: 50%;
    gap: 120px; /* Espaçamento entre os links */
    color: black; /* Define a cor como preto */
}

.carousel {
    max-height: 600px; 
    overflow: hidden;   
}


.carousel-item img {
    width: 100%;        
    height: 600px;
    object-fit: cover;      
}


a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: inherit; /* Mantém a cor do texto inalterada */
}



.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 250px;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img {
    position: relative;
}

.card-img img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}


.card-info {
    padding: 15px;
}

.card-info p {
    color: #888;
    margin: 5px 0;
}

.card-info h3 {
    margin: 10px 0;
    font-size: 1.25em;
    color: #333;
}

.card-info h2 {
    color: #000;
    font-size: 2em;
    margin: 0;
}

/* Estilos do carrossel */
.carousel {
    position: relative;
}

/* Estilos da caixa de pesquisa */
.search-form {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 100%;  
    max-width: 400px;  
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    z-index: 10;
    margin-top: 5px;
    border-width: 3px;
    border-style: solid;
    border-color: white ;
}

.search-form h5 {
    font-weight: bold;
    margin-bottom: 5px;
    color: #000000;
    text-align: center;
}

.form-group {
    position: relative;
    margin-bottom: 10px;
    color: black;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px 40px 10px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

/* Ícone dentro dos campos de entrada */
.form-group i {
    position: absolute;
    top: 50%;
    left:323px;
    transform: translateY(-50%);
    color: #2f2d2d;
}


/* Botões de escolha */
.radio-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    color: #015EAB;
}

.radio-group label {
    font-weight: bold;
}

.radio-group input[type="radio"] {
    margin-right: 5px;   
}

/* Botão de busca */
.btn-search {
    width: 100%;
    padding: 12px;
    background-color: #F59A2F;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

.btn-search:hover {
    background-color: #F59A2F; 
}

 /* Titulos antes dos cards */
.titulo-destinos {
    color: #1f1c1c; 
}

.subtitulo-destinos {
    color: #1f1c1c; 
}
/* Background */
.bg-blue {
    background-color: white; 
    color: white; 
}

.custom-card {
    width: 20rem; 
    height: 28rem; 
    
}
.card-container{
    margin-top: 100px;
}
.card-img-top {
    height: 200px; 
    object-fit: cover;
}
.card:hover {
    background-color: #708291;
    font-size: 18px;
  }
.my-custom-button {
    margin-top: 20px;
}
.card-btn {
    color: #000000;
}
body {
    background-color:  #0B3050; /* Cor de fundo azul */
    color: white; /* Cor do texto padrão */
}

/* Estilos do rodapé */
.footer {
    background-color: #343a40; /* Cor do fundo do rodapé */
    color: #000000; /* Cor do texto do rodapé */
    margin-top: 100px; /* Espaçamento acima do rodapé */
}

/* Links no rodapé */
.footer .text-white a {
    color: #000000; /* Cor dos links no rodapé */
    text-decoration: none; /* Remove o sublinhado dos links */
}

.footer .text-white a:hover {
    color: #000000; /* Cor mais clara ao passar o mouse */
}

/* Parte inferior do rodapé */
.bg-secondary {
    background-color: #104f86 !important; /* Fundo para a parte inferior do rodapé */
}
.footer {
    background-color: #ffffff;
}

.social-links li {
    display: flex;
    align-items: center;
}

.social img{
    width: 40px;
    height: 40px;
    align-items: center;
    margin-left: 10px;
}

.contact-container {
    display: flex;
    
}

.social a {
    text-decoration: none;
}


.contato {
    margin-left: 40px;
}

.contato img{
   margin-top: -85px;
   margin-left: -45px;
   width: 35px;
   right: 35px;
}




@media (max-width: 320px) {
    .search-form {
        display: flex;
        flex-direction: column;
        width: 65%; /
    }

    .form-group i {
        position: absolute;
        top: 50%;
        left: 160px;
        transform: translateY(-50%);
        color: #2f2d2d;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    .search-form {
        display: flex;
        flex-direction: column;
        width: 65%; /
    }

    .form-group i {
        position: absolute;
        top: 50%;
        left: 180px;
        transform: translateY(-50%);
        color: #2f2d2d;
    }
}


@media (min-width: 481px) and (max-width: 600px) {
    .search-form {
        display: flex;
        flex-direction: column;
        width: 65%; /
    }

    .form-group i {
        position: absolute;
        top: 50%;
        left: 190px;
        transform: translateY(-50%);
        color: #2f2d2d;
    }
}

